# Virtual Environments
.venv

# Caches and logs
__pycache__
log/

# VsCode
.vscode

# Mask generation
PDNPic/
*.pdn

# Synthetic images and annotations
image[0-9]*_CT*
image[0-9]*_CB*
SyntheticDefects/
SyntheticDefectsMasks/
SyntheticDefectsHarmonized/
SyntheticNoDefects/
Image5[0-9]*/
*.pkl

# Debug files
debug/


