# Virtual Environments
.venv

# Caches and logs
__pycache__
log/

# VsCode
.vscode

# Mask generation
PDNPic/
*.pdn

# Sysntethic images
image[0-9]*_CT*
image[0-9]*_CB*
SyntheticDefects/
SyntheticDefectsMasks/
SyntheticDefectsHarmonized/
Image5[0-9]*/

# Debug files
debug/
*debug.yaml

data_faster_rcnn.pkl
data/main.py
data/data_faster_rcnn.pkl
data/SyntheticNoDefects/*
data/data_faster_rcnn.pkl
data/Defects/data_original_faster_rcnn.pkl
data/SyntheticNoDefects
data/*.pkl
